{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/destructuring-assignment": 0,
    "prettier/prettier": ["error"],
    "linebreak-style": 0
  }
}
